@{
    Layout = null;
}

   
<html>
<head>
    <title>Online Admission System</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet" />
</head>
<body style="background:url(../../images/Index.jpg);">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <img src="~/Content/images/Index.jpg" />
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span style="background-color:rgba(0, 0, 0, 0.00)">Welcome to <strong> PUCIT Online Admission System</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span style="background-color:rgba(0,0,0,0.00)">To fill Out Form Select Student Option</span>
                            </h3>
                            <br>
                            <br />
                            <br />
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="/Admin/AdminLogin">Admin</a><a class="btn btn-theme btn-sm btn-min-block" href="/User/Login">Student</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
                </div>
            </div>
        </div>
</body>

</html>
