@model MvcApplication1.Models.PersonalInformation

@{
        ViewBag.Title = "AdmissionForm";
        Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="jumbotron" >
<h2>Personal Information Form</h2>
</div>

<div class="form-group">
    <form method="post" action="/Student/AdmitStudent" id="Adform" enctype="multipart/form-data">
        <div class="col-xs-6 col-md-10">
            <b>FormId</b>
            <input type="text" class="form-control" name="FormId" id="f1" required="required" value="@ViewBag.c"  />          
            <b>First Name</b>
            <input type="text" class="form-control" name="FirstName" id="f1" required="required" />
            
            <br />
            <b>Last Name</b>
            <input type="text" class="form-control" name="LastName" id="l1" required="required" />
            
            <br />
            <b>Date Of Birth</b>
            <input type="text" class="form-control" name="DOB" id="dob" required="required" />
           
            <b>CNIC</b>
            <input type="text" class="form-control" name="CNIC" id="cnic" required="required"  />
            
            <b>Father's Name</b>
            <input type="text" class="form-control" name="FatherName" id="fathna" required="required" />
            
            <b>Address</b>
            <textarea class="form-control" name="Address" id="add" rows="3" cols="30"></textarea>
            <b>Phone Number</b>
            <input type="text" class="form-control" name="PhoneNumber" id="pn" />
            <b>Mobile Number</b>
            <input type="text" class="form-control" name="MobileNumber" id="mn" required="required" />
            <br />
            <b>Religion</b>
            Islam <input type="radio" class="radio-inline"  name="religion" id="rel" value="Islam" required="required" />
            Others <input type="radio" class="radio-inline"  name="religion" id="rel" value="Others"  />
            <br />
            <br />
            <b>Nationality</b>
            <input type="text" class="form-control" name="Nationality" id="nat" required="required" />
            <b>Country</b>
            <select class="form-control" name="Country" id="con" required="required">
                <option>--Select Country--</option>
                <option>America</option>
                <option>Pakistan</option>
                <option>India</option>
                <option>France</option>
                <option>England</option>
            </select>

            <b>City</b>
            <select class="form-control" name="City" id="city" required="required">
                <option>--Select City--</option>
                <option>Lahore</option>
                <option>Karachi</option>
                <option>Islamabad</option>
                <option>Peshawar</option>
                <option>Quetta</option>
            </select>
            
                <b>Upload Photo</b>
                <input type="file" id="pho" name="Photo" />
            

            <br />
            <div class="col-xs-6 col-sm-4">
            </div>
            <input type="submit" class="btn btn-success" value="Next" />
            <button type="button" class="btn btn-primary" id="reset">Reset</button> 
        </div>
    </form>
</div>