@{
    ViewBag.Title = "CheckStatus";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="jumbotron">
<h2>Check Status</h2>
</div>


<div class="col-xs-6 col-md-10"> 
    <div id="ch">Checking..</div>
Enter Your Form ID: <input type="text" id="sta" class="form-control" />
<button id="butt" class="btn btn-success">Check</button> 
</div>